html{
    margin: 0;
}
body{
    background-color: #efa;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header{
    background-color: #8e4829;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    height: 4rem;
}

nav ul{
    list-style: none;
    text-align: center;
    background-color: #8e4829;
    padding: 0.5rem 0.5rem;
}
nav li{
    
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}
a{
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}
a:hover{
    color: white;
    background-color: black;
}
.banner{
    max-width: 100%;
    max-height: 100%;
}
footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
}
article{
    flex: 1;
}
.category{
    display: grid;
    grid-auto-flow: column;
    
}
.category .title{
    grid-column: 1/-1;
    grid-row: 1/1;
    text-align: center;
}
.category_img{
    grid-row: 2/-1;
    
}
.category_img img{
    margin: 2rem;
    max-width: 80%;
    max-height: 100%;
    border: 1px solid black;
}
footer{
    display: flex;
    background-color: #8e4829;
    padding: 1rem;
}
div{
    flex: 1;
}