html{
    margin: 0;
}
body{
    background-color: #efa;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header{
    background-color: #8e4829;
    border: 1px solid black;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    height: 4rem;
}

nav ul{
    list-style: none;
    text-align: center;
    background-color: #8e4829;
    padding: 0.5rem 0.5rem;
}
nav li{
    
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}
li a{
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}
li a:hover{
    color: white;
    background-color: black;
    font-weight: bold;
    
}
.banner{
    margin-top: 2rem;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}
footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
}
article{
    flex: 1;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category div{
    display: flex;
    flex-direction: row;
}
.category_img img{
    max-width: 80%;
    max-height: 100%;
    border: 1px solid black;
    box-shadow: 10px 5px 15px #333;
}
.category_img:hover{
    transform: scale3d(1.1, 1.1, 1);
}
footer{
    display: flex;
    background-color: #8e4829;
    padding: 1rem;
    border: 1px solid black;
}
div{
    flex: 1;
}